.alertas-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.alertas-summary p {
  margin: 0;
  font-weight: 500;
  color: #1f2b50;
}

.alertas-summary strong {
  font-size: 1.3rem;
  color: #2c62f6;
}
