[MASTER]
ignore=migrations,venv,htmlcov,node_modules
jobs=1

[MESSAGES CONTROL]
disable=
    C0111,  # falta docstring
    C0103,  # nombre invalido
    R0903,  # muy pocos metodos publicos (modelos Django)
    R0801,  # codigo duplicado
    W0212,  # acceso protegido (Django usa _meta)
    E1101,  # no-member (atributos dinamicos de Django)

[FORMAT]
max-line-length=120
indent-string='    '

[BASIC]
good-names=i,j,k,e,f,id,pk,db

[DESIGN]
max-attributes=10
max-args=7
