[tool.black]
line-length = 120
target-version = ['py310']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directorios
  \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | venv
  | _build
  | buck-out
  | build
  | dist
  | migrations
  | node_modules
  | htmlcov
)/
'''

[tool.isort]
profile = "black"
line_length = 120
skip_gitignore = true
known_django = "django"
known_rest_framework = "rest_framework"
sections = ["FUTURE", "STDLIB", "DJANGO", "REST_FRAMEWORK", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]

[tool.pylint.main]
load-plugins = ["pylint_django"]
django-settings-module = "config.settings"

[tool.pylint.messages_control]
disable = [
    "missing-docstring",  # falta docstring
    "invalid-name",  # nombre invalido
    "too-few-public-methods",  # pocos metodos publicos
]

[tool.pylint.format]
max-line-length = 120
